{% extends "base.html" %}
{% load static %}
{% url 'products:list' as product_list_url %}

<title>Home Page Template</title>

{% block content %}


<div class='text-center'>
   <!--  <h1>{{ title }}</h1>
 -->    <!-- <h1>Hello, world we're working!</h1> -->
</div>
<div class='container'>
  <div class='row'>
    <div class='col'>
        <img src="{% static 'img/Giphy2.gif' %}" style="display: block;margin-left: auto; margin-right:auto; ", height=50, width=450 , class='img-fluid' />
        <p>{{ content }}</p>
       
        <a class="nav-link" href="products"><img src="{% static 'img/shopping.jpg'%}" style="display: block;margin-left: auto; margin-right:auto; "></a>
      </li>
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <div class='row'>
    <div class='col'>
    <!-- <h1>Premium</h1> -->
    <!-- {{ premium_content }} -->
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
 
<!-- <!doctype html>
<html lang="en">
  <head>
    <! Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <! Bootstrap CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

   



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> --> 
<!--   </body>
</html> --> 